<h2>我的论文</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @paper.title %>
  </li>


</ul>

<%= link "Edit", to: paper_path(@conn, :edit, @paper) %>
<%= link "Back", to: paper_path(@conn, :index) %>
